body, html {
    height: 100%;
    background: #101c54;
}

.content{
    position: relative;
    padding: 0 15%;
    margin-top: 55vw;
    z-index: 50;
    background: #101c54;
    color: white;
}

.parallax {
    perspective: 1px;
    height:100vh;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 2;
}

.parallax_layer {
    background-repeat: no-repeat;
    background-position: center top;
    background-color: transparent;
    background-size: contain;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.parallax_layer-base {
    transform: translateZ(-600px) scale(612);
    background-image: url(../images/GreatWaveLayer0.png);
}

.parallax_layer-01 {
    transform: translateZ(-600px) scale(612);
    background-image: url(../images/GreatWaveLayer1.png);
}

.parallax_layer-02 {
    transform: translateZ(-2.6px) scale(3.65);
    background-image: url(../images/GreatWaveLayer2.png);
}

.parallax_layer-04 {
    z-index: 50;
    background-image: url(../images/GreatWaveLayer3.png);
}

@media only screen and (max-width: 1080px) {
    .parallax_layer-04 {
        background-size: contain;
    }
  }

.parallax_layer-03 {
    transform: translateZ(-1.5px) scale(2.5);
    background-image: url(../images/GreatWaveLayer4.png);
}