body, html {
    height: 100%;
    background: #101c54;
}

@font-face {
    font-family: 'Japestyle';
    src: url('../styles/font/JapestylePlain.eot');
    src: url('../styles/font/JapestylePlain.eot?#iefix') format('embedded-opentype'),
        url('../styles/font/JapestylePlain.woff2') format('woff2'),
        url('../styles/font/JapestylePlain.woff') format('woff'),
        url('../styles/font/JapestylePlain.ttf') format('truetype'),
        url('../styles/font/JapestylePlain.svg#JapestylePlain') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fujimaru';
    src: url('../styles/font/Fujimaru-Regular.eot');
    src: url('../styles/font/Fujimaru-Regular.eot?#iefix') format('embedded-opentype'),
        url('../styles/font/Fujimaru-Regular.woff2') format('woff2'),
        url('../styles/font/Fujimaru-Regular.woff') format('woff'),
        url('../styles/font/Fujimaru-Regular.ttf') format('truetype'),
        url('../styles/font/Fujimaru-Regular.svg#Fujimaru-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.content{
    position: relative;
    padding: 0 15%;
    padding-bottom: 30px;
    margin-top: 55vw;
    z-index: 50;
    background: #101c54;
    color: #e7cba2;
    font-family: Japestyle;
}

.parallax {
    perspective: 1px;
    height:100vh;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 2;
}

.parallax_layer {
    background-repeat: no-repeat;
    background-position: center top;
    background-color: transparent;
    background-size: contain;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.parallax_layer-base {
    transform: translateZ(-600px) scale(612);
    background-image: url(../images/GreatWaveLayer0.png);
}

.parallax_layer-01 {
    transform: translateZ(-600px) scale(612);
    background-image: url(../images/GreatWaveLayer1.png);
}

.parallax_layer-02 {
    transform: translateZ(-2.6px) scale(3.65);
    background-image: url(../images/GreatWaveLayer2.png);
}

.parallax_layer-04 {
    z-index: 50;
    background-image: url(../images/GreatWaveLayer3.png);
}

@media only screen and (max-width: 1080px) {
    .parallax_layer-04 {
        top: -4px;
        background-size: contain;
        background-image: url(../images/GreatWaveMobile.png);
    }
  }

.parallax_layer-03 {
    transform: translateZ(-1.5px) scale(2.5);
    background-image: url(../images/GreatWaveLayer4.png);
}

.projectCard{
    text-align: center;
    width: 100%;
    padding-top: 2vw;
    h1 {
        font-size: 5vw;
        font-family: Fujimaru;
    }

    p {
        font-size: 2vw;
        color: #f5eedb;
    }

    @media only screen and (max-width: 1080px) {
        p {
            font-size: 3.5vw;
        }
    }

    .gifHolder{
        padding: 3vw;
        img{
          width: 100%;  
        }
    }

    .descriptionHolder{
        text-align: left; 
    }

}

.endImage{
    position: relative;
    width: 100%;
    
    img{
        width: 100%;  
    }
}
